.marker {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  border: 3px solid rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
  transform-origin: center;
  animation: pulse 2s infinite;
}

.markerContainer {
  position: relative;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
  }
}
